* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.dragging {
  border: 2px solid black !important;
}
.dragging:active {
  cursor: 'grabbing' !important;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
/* .pixel {
  border-right: 1px solid black;
}
.pixel:first-child {
  border-left: 1px solid black;
}
.row {
  border-bottom: 1px solid black;
}
.row:first-child {
  border-top: 1px solid black;
} */
